.complete-ul {
    width: 100%;
    height: 800px;
    list-style: none;

    overflow-y: scroll;

    padding: 0;
    margin: 10px 0 0 0;

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    li {
        display: flex;
        flex-direction: row;
        align-items: center;

        padding: 0;
        margin: 2px;

        p {
            overflow: visible;
            white-space: pre-wrap;
            word-break: break-all;

            font-size: 15px;
            font-weight: 300;

            padding: 2px;
            margin: 0;
        }

        p:nth-child(1) {
            width: 10%;
            text-align: center;
        }

        p:nth-child(2) {
            width: 70%;

            color: aquamarine;
            text-decoration: underline;

            &:hover {
                color: cyan;
            }
        }

        p:nth-child(3) {
            width: 20%;

            text-align: center;
        }
    }
}