.confirm-button {
    text-decoration: none;
    
    border: 1px solid transparent;
    border-radius: 5px;
    
    position: relative;
    overflow: hidden;
    
    font-size: 1.3rem;
    font-weight: 600;

    padding: 0.8rem;
    margin: 1em;
    
    color: black;
    background-color: white;
    text-transform: uppercase;

    &:hover {
        box-shadow: 1px 1px 25px 10px lightyellow;
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(120deg,
                transparent,
                lightyellow,
                transparent);
        transition: all 650ms;
    }

    &:hover:before {
        left: 100%;
    }

    &:active {
        background-color: lightsalmon;
        
        &::before,
        &::after {
            background-color: lightsalmon;
        }
    }
}

@media screen and (max-width: 1090px) and (min-width: 750px) {
    .confirm-button {
        font-size: 1.0em;
        font-weight: 500;
        padding: 0.3em 0.8em;
        margin: 0.5em;
        border-radius: 3px;
    
        &:hover {
            box-shadow: 1px 1px 15px 5px lightyellow;
        }
    }
}

@media screen and (max-width: 750px) {
    .confirm-button {
        font-size: 0.8rem;
        font-weight: 300;
        padding: 0.3em 0.5em;
        margin: 0.5em;
        border-radius: 2px;
    
        &:hover {
            box-shadow: 1px 1px 12px 3px lightyellow;
        }
    }
}