.copy-button {
    background-color: lightpink;
    border: none;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: 'BenchNine', Arial, sans-serif;
    font-size: 1em;
    line-height: 1em;
    margin: 1em;
    outline: none;
    padding: 10px;
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;

    &:before,
    &:after {
      border-color: transparent;
      -webkit-transition: all 0.25s;
      transition: all 0.25s;
      border-style: solid;
      border-width: 0;
      content: "";
      height: 24px;
      position: absolute;
      width: 24px;
    }
    &:before {
      border-color: lightpink;
      border-right-width: 2px; 
      border-top-width: 2px;
      right: -5px;
      top: -5px;  
    }  
    &:after {
      border-bottom-width: 2px;
      border-color: lightpink;
      border-left-width: 2px;
      bottom: -5px;
      left: -5px;
    }
    &:hover,
    &.hover {
      background-color: lightpink;
    }
    &:hover:before,
    &.hover:before,
    &:hover:after,
    &.hover:after {
      height: 100%;
      width: 100%;
    }

    &:active {
      background-color: plum;
    }
}
