.select-button {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    font-size: 1.5em;

    display: inline-block;
    position: relative;
    text-align: center;
    
    color: #00c7ec;
    border: 3px solid #00c7ec;
    border-radius: 5px;
    background-color: transparent;

    padding-left: 1em;
    padding-right: 1em;
    margin: 1em;

    width: 280px;
    height: 50px;

    box-shadow: 0 0 0 0 transparent;
    transition: all 0.2s ease-in;

    &:hover {
        color: white;
        box-shadow: 0 0 10px 0 transparentize(#00c7ec, 0.5);
        background-color: #00c7ec;

        transition: all 0.2s ease-out;

        &:before {
            animation: shine 0.5s 0s linear;
        }
    }

    &:active {
        background-color: turquoise;
        box-shadow: 0 0 0 0 white;
        transition: box-shadow 0.2s ease-in;
    }

    &:before {
        content: '';
        display: block;
        width: 0px;
        height: 86%;
        position: absolute;
        top: 7%;
        left: 0%;

        opacity: 0;
        background: white;
        box-shadow: 0 0 10px 2px white;
        transform: skewX(-20deg);
    }
}

@keyframes shine {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}