.select-button {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Exo 2', sans-serif;
    font-weight: 500;
    font-size: 1.3em;

    display: inline-block;
    position: relative;
    text-align: center;

    color: #00c7ec;
    border: 2px solid #00c7ec;
    background-color: transparent;

    padding-left: 1em;
    padding-right: 1em;
    margin: 1em;

    width: 250px;
    height: 40px;

    box-shadow: 0 0 0 0 transparent;
    transition: all 0.2s ease-in;

    &:hover {
        color: white;
        box-shadow: 0 0 10px 0 transparentize(#00c7ec, 0.5);
        background-color: #00c7ec;

        transition: all 0.2s ease-out;

        &:before {
            animation: shine 0.5s 0s linear;
        }
    }

    &:active {
        background-color: turquoise;
        box-shadow: 0 0 0 0 white;
        transition: box-shadow 0.2s ease-in;
    }

    &:before {
        content: '';
        display: block;
        width: 0px;
        height: 86%;
        position: absolute;
        top: 7%;
        left: 0%;

        opacity: 0;
        background: white;
        box-shadow: 0 0 10px 2px white;
        transform: skewX(-20deg);
    }
}

@keyframes shine {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

@media screen and (max-width: 1620px) and (min-width: 1090px) {
    .select-button {
        font-weight: 300;
        font-size: 1em;

        border: 1px solid #00c7ec;

        padding-left: 0.5em;
        padding-right: 0.5em;
        margin: 0.5em;

        width: 30%;
        height: 30px;

        &:hover {
            box-shadow: 0 0 7px 0 transparentize(#00c7ec, 0.5);
        }

        &:before {
            box-shadow: 0 0 7px 1px white;
        }
    }
}

@media screen and (max-width: 1090px) and (min-width: 750px) {
    .select-button {
        font-weight: 300;
        font-size: 0.8em;

        border: 1px solid #00c7ec;

        padding-left: 0.5em;
        padding-right: 0.5em;
        margin: 0.5em;

        width: 30%;
        height: 30px;

        &:hover {
            box-shadow: 0 0 5px 0 transparentize(#00c7ec, 0.5);
        }

        &:before {
            box-shadow: 0 0 5px 1px white;
        }
    }
}

@media screen and (max-width: 750px) {
    .select-button {
        font-weight: 300;
        font-size: 0.7em;

        border: 1px solid #00c7ec;

        padding-left: 0.2em;
        padding-right: 0.2em;
        margin: 0.2em;

        width: 30%;
        height: 25px;

        &:hover {
            box-shadow: 0 0 4px 0 transparentize(#00c7ec, 0.5);
        }

        &:before {
            box-shadow: 0 0 4px 1px white;
        }
    }
}