.balance-container {
    padding: 0;
    margin: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    #head {
        width: 100%;
        text-align: start;
        text-decoration: underline;
        font-size: 1.3em;
        font-weight: 500;
        background-color: transparent;
        margin: 0 0 0.2em 0;
        padding: 0.2em 0 0.2em 0;
        color: white;
    }

    .label {
        margin: 0;
        padding: 0;

        display: flex;
        flex-direction: row;
        align-items: center;

        width: 100%;

        p {
            margin: 0;
            padding-top: 0.2em;
            padding-bottom: 0.2em;
            padding-left: 0.2em;
            font-weight: 500;
            text-align: center;

            color: black;
            background-color: white;
        }

        #currency {
            width: 25%;
            padding-right: 0.2em;
            border-right: 1px solid lightgray;
        }

        #amount {
            width: 75%;
            padding-right: 1.2em;
        }
    }

    .wide {
        width: 100%;
        height: 200px;
        overflow-y: scroll;

        list-style-type: none;
        padding: 0;
        margin: 0;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        background-color: beige;

        li {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;

            padding: 0;
            margin: 0;
            font-weight: 500;
            letter-spacing: 1px;

            p {
                text-align: start;
                display: inline-block;
                text-align: center;

                padding: 0.2em;
                margin-left: 0;
                margin-top: 1px;
                margin-bottom: 0;
                margin-right: 0;

                overflow: visible;
                white-space: pre-wrap;
                word-break: break-all;

                border-bottom: 1px solid lightgray;

                color: black;
            }

            #currency {
                width: 25%;
                border-right: 1px solid lightgray;
            }

            #amount {
                width: 75%;
                align-self: stretch;
                vertical-align: middle;
            }
        }
    }

    .slim {
        width: 100%;
        list-style-type: none;
        font-size: 1em;
        margin: 0;
        padding: 0;

        text-align: center;

        li {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;

            padding: 1px 0 1px 0;

            p {
                overflow: visible;
                white-space: pre-wrap;
                word-break: break-all;

                padding: 0.2em;
                margin-top: 1px;
                margin-bottom: 0;
                margin-left: 0;
                font-weight: 500;
            }

            #currency {
                width: 20%;
                margin-right: 1px;

                color: black;
                background-color: white;
                border-top: 1px solid white;
                border-bottom: 1px solid white;
            }

            #amount {
                width: 80%;
                margin-right: 0;

                background-color: beige;
                color: black;

                border-top: 1px solid beige;
                border-bottom: 1px solid beige;
            }
        }
    }
}


@media screen and (max-width: 1090px) and (min-width: 750px) {
    .balance-container {
        #head {
            font-size: 1em;
            font-weight: 400;
            margin: 0 0 0.2em 0;
            padding: 0.2em 0 0.2em 0;
        }

        .label {
            p {
                padding-top: 0.2em;
                padding-bottom: 0.2em;
                padding-left: 0.2em;
                font-weight: 400;
                font-size: 1em;
            }

            #currency,
            #amount {
                font-size: 0.8em;
            }

            #currency {
                width: 25%;
                padding-right: 0.2em;
                border-right: 1px solid lightgray;
            }

            #amount {
                width: 75%;
                padding-right: 1.2em;
            }
        }

        .wide {
            height: 150px;
            font-size: 0.8em;

            li {
                font-weight: 400;
                letter-spacing: 1px;

                p {
                    padding: 0.2em;
                }
            }
        }

        .slim {
            font-size: 0.8em;

            li {
                padding: 1px 0 1px 0;

                p {
                    padding: 0.2em;
                    font-weight: 400;
                }

                #currency {
                    width: 20%;
                }

                #amount {
                    width: 80%;
                }
            }
        }
    }
}

@media screen and (max-width: 750px) {
    .balance-container {
        #head {
            font-size: 0.8em;
            font-weight: 400;
            margin: 0 0 0.2em 0;
            padding: 0.2em 0 0.2em 0;
        }

        .label {
            p {
                padding-top: 0.2em;
                padding-bottom: 0.2em;
                padding-left: 0.2em;
                font-weight: 400;
                font-size: 0.8em;
            }

            #currency,
            #amount {
                font-size: 0.7em;
            }

            #currency {
                width: 25%;
                padding-right: 0.2em;
                border-right: 1px solid lightgray;
            }

            #amount {
                width: 75%;
                padding-right: 1.2em;
            }
        }

        .wide {
            height: 150px;
            font-size: 0.7em;

            li {
                font-weight: 400;
                letter-spacing: 1px;

                p {
                    padding: 0.2em;
                }
            }
        }

        .slim {
            font-size: 0.7em;

            li {
                padding: 1px 0 1px 0;

                p {
                    padding: 0.2em;
                    font-weight: 400;
                }
                
                #currency {
                    width: 20%;
                }

                #amount {
                    width: 80%;
                }
            }
        }
    }
}