.key-container {
    padding: 0;
    margin: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    #head {
        width: 100%;
        text-align: start;
        text-decoration: underline;
        font-size: 1.3em;
        font-weight: 500;
        background-color: transparent;
        margin: 0 0 0.2em 0;
        padding: 0.2em 0 0.2em 0;
        color: white;
    }

    .label {
        margin: 0;
        padding: 0;

        display: flex;
        flex-direction: row;
        align-items: center;

        width: 100%;

        p {
            margin: 0;
            padding-top: 0.2em;
            padding-bottom: 0.2em;
            padding-left: 0.2em;
            font-weight: 500;
            text-align: center;

            color: black;
            background-color: white;
        }

        #key {
            width: 70%;
            padding-right: 0.2em;
            border-right: 1px solid lightgray;
        }

        #weight {
            width: 30%;
            padding-right: 1.2em;
        }
    }

    ul {
        width: 100%;
        height: 200px;
        overflow-y: scroll;

        list-style-type: none;
        padding: 0;
        margin: 0;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        background-color: beige;

        li {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;

            padding: 0;
            margin: 0;
            font-weight: 300;
            letter-spacing: 1px;

            p {
                text-align: start;
                display: inline-block;
                text-align: center;

                padding: 0.2em;
                margin-left: 0;
                margin-top: 1px;
                margin-bottom: 0;
                margin-right: 0;

                overflow: visible;
                white-space: pre-wrap;
                word-break: break-all;

                border-bottom: 1px solid lightgray;

                color: black;
            }

            #key {
                width: 70%;
                border-right: 1px solid lightgray;
                text-align: start;
            }

            #weight {
                width: 30%;
                align-self: stretch;
                vertical-align: middle;
            }
        }
    }
}