.bulk-menu-container {
    #menu {
        width: 450px;
        margin: 0;
        padding: 0;

        z-index: 500;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        #menu-p {
            text-align: center;
            width: 400px;
            font-size: 1.5em;
            padding: 1em;
            margin: 1em;

            color: black;
            background-color: white;
            font-weight: 400;
            border: 5px solid white;

            &:hover {
                background-color: transparent;
                color: white;
            }
        }
    }
}