.login-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .login-radio {
        display: flex;
        align-items: center;
        flex-direction: row;
    }
}

.rad-label {
    display: flex;
    align-items: center;

    border-radius: 100px;
    padding: 14px 16px;
    margin: 10px;

    cursor: pointer;
    transition: .3s;

    &:hover,
    &:focus-within {
        background: rgba(255, 164, 164, 0.788);
    }

    .rad-input {
        position: absolute;
        left: 0;
        top: 0;
        width: 1px;
        height: 1px;
        opacity: 0;
        z-index: -1;

        &:checked+.rad-design::before {
            transform: scale(0);
        }

        &:checked~.rad-text {
            color: hsl(59, 84%, 81%);
        }
    }

    .rad-design {
        width: 22px;
        height: 22px;
        border-radius: 100px;

        background: linear-gradient(to right bottom, hsl(154, 97%, 62%), hsl(225, 97%, 62%));
        position: relative;

        &::before {
            content: '';

            display: inline-block;
            width: inherit;
            height: inherit;
            border-radius: inherit;

            background: hsl(0, 0%, 90%);
            transform: scale(1.1);
            transition: .3s;
        }
    }

    .rad-text {
        color: hsl(0, 0%, 100%);
        margin-left: 14px;
        letter-spacing: 3px;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 900;

        transition: .3s;
    }
}