.login-container {
    height: 100vh;
    width: 80%;

    #login-main {
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .login-radio {
            display: flex;
            align-items: center;
            flex-direction: row;

            .rad-label {
                display: flex;
                align-items: center;

                border-radius: 100px;
                padding: 14px 16px;
                margin: 10px;

                cursor: pointer;
                transition: .3s;

                &:hover,
                &:focus-within {
                    background: rgba(255, 164, 164, 0.788);
                }

                .rad-input {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 1px;
                    height: 1px;
                    opacity: 0;
                    z-index: -1;

                    &:checked+.rad-design::before {
                        transform: scale(0);
                    }

                    &:checked~.rad-text {
                        color: hsl(59, 84%, 81%);
                    }
                }

                .rad-design {
                    width: 22px;
                    height: 22px;
                    border-radius: 100px;

                    background: linear-gradient(to right bottom, hsl(154, 97%, 62%), hsl(225, 97%, 62%));
                    position: relative;

                    &::before {
                        content: '';

                        display: inline-block;
                        width: inherit;
                        height: inherit;
                        border-radius: inherit;

                        background: hsl(0, 0%, 90%);
                        transform: scale(1.1);
                        transition: .3s;
                    }
                }

                .rad-text {
                    color: hsl(0, 0%, 100%);
                    margin-left: 14px;
                    letter-spacing: 3px;
                    text-transform: uppercase;
                    font-size: 18px;
                    font-weight: 900;

                    transition: .3s;
                }
            }
        }

        h1 {
            font-size: 3em;
            font-weight: 400;
            margin: 0 1em 0.5em 1em;
            letter-spacing: 5px;
        }
    }

    #login-load {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;

        z-index: 54354;

        h1 {
            font-size: 50px;
        }

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 1090px) and (min-width: 750px) {
    .login-container {
        width: 100%;

        #login-main {

            .login-radio {
                flex-direction: column;

                .rad-label {
                    padding: 10px 15px;
                    margin: 10px;

                    .rad-design {
                        width: 15px;
                        height: 15px;
                    }

                    .rad-text {
                        margin-left: 10px;
                        letter-spacing: 3px;
                        font-size: 15px;
                        font-weight: 500;
                    }
                }
            }

            h1 {
                font-size: 2em;
                font-weight: 300;
                margin: 0 1em 0.5em 1em;
                letter-spacing: 3px;
            }
        }
    }
}

@media screen and (max-width: 750px) {
    .login-container {
        width: 100%;

        #login-main {

            .login-radio {
                flex-direction: column;

                .rad-label {
                    padding: 10px 15px;
                    margin: 10px;

                    .rad-design {
                        width: 11px;
                        height: 11px;
                    }

                    .rad-text {
                        margin-left: 10px;
                        letter-spacing: 3px;
                        font-size: 11px;
                        font-weight: 500;
                    }
                }
            }

            h1 {
                font-size: 1.5em;
                font-weight: 300;
                margin: 0 1em 0.5em 1em;
                letter-spacing: 3px;
            }
        }
    }
}