.network-container {
    width: 95%;
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-self: center;

    padding: 3em;

    opacity: 0.8;

    h1 {
        font-size: 3em;
        font-weight: 400;
        margin: 1em 1em 0.5em 1em;
        letter-spacing: 5px;
    }

    .setter,
    .network-version-info {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin: 0.5em 0 0 0;
        padding: 0;

        h2 {
            width: 100%;
            font-size: 2em;
            font-weight: 400;
            margin: 1em 1em 0.5em 1em;
            letter-spacing: 2px;
            text-align: start;

            text-decoration: underline;
        }
    }

    .setter {
        section {
            width: 100%;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            margin: 0 0 0.5em 0;

            div {
                width: 70%;
            }

            button {
                width: 12%;
                padding: 0.5em;
            }
        }
    }

    .network-version-info {
        p {
            width: 100%;
            margin: 0;
            padding: 0.2em 0.5em 0.2em 0.5em;
            font-size: 1.5em;
            font-weight: 500;
            text-align: start;
            color: lavender;
        }
    }
}

@media screen and (max-width: 1090px) and (min-width: 750px) {
    .network-container {
        width: 100%;

        h1 {
            font-size: 2em;
            margin: 1em;
        }

        .setter,
        .network-version-info {
            width: 90%;
            margin: 1em 0 0 0;

            h2 {
                font-size: 1.5em;
                margin: 1em 1em 0.5em 1em;
                letter-spacing: 3px;
            }
        }

        .setter {
            section {
                margin: 0 0 1em 0;

                button {
                    padding: 0.5em;
                }
            }
        }

        .network-version-info {
            p {
                padding: 0.2em;
                font-size: 1.3em;
                font-weight: 400;
            }
        }
    }
}

@media screen and (max-width: 750px) {
    .network-container {
        width: 100%;

        h1 {
            font-size: 1.5em;
            margin: 1em;
        }

        .setter,
        .network-version-info {
            width: 90%;
            margin: 1em 0 0 0;

            h2 {
                font-size: 1.3em;
                margin: 1em 1em 0.5em 1em;
                letter-spacing: 3px;
            }
        }

        .setter {
            section {
                margin: 0 0 1em 0;

                button {
                    padding: 0.5em;
                }
            }
        }

        .network-version-info {
            p {
                padding: 0.2em;
                font-size: 1.0em;
                font-weight: 400;
            }
        }
    }
}