.res-container {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    h1 {
        width: 100%;
        text-align: center;
    }
}