.res-container {
    width: 800px;
    padding: 0;
    margin: 0;
    height: auto;

    position: fixed;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;

    .res-detail {
        padding: 0;
        width: 100%;

        opacity: 0.8;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            font-weight: 800;
            font-size: 2em;
            letter-spacing: 5px;

            background-color: white;
            color: black;

            margin: 0;
            padding: 0.2em 0 0.2em 0;

            border: 2px solid white;
        }
    }

    .success {
        div {
            margin: 0;
            width: 100%;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            section {
                width: 100%;
                margin: 1.5em 0 0 0;
                padding: 0;

                h2 {
                    width: 100%;
                    margin: 0 0 1px 0;

                    display: inline-block;
                    text-align: center;
                    font-size: 1.2em;

                    letter-spacing: 3px;
                    background-color: white;
                    color: black;
                    padding: 0.2em 0 0.2em 0;
                }

                ul {
                    list-style-type: none;
                    width: 100%;

                    padding: 0;
                    margin: 0 0 1em 0;

                    li {
                        padding: 0;
                        margin: 1px 0 0 0;

                        background-color: beige;
                        color: black;
                        font-weight: 400;

                        p {
                            text-align: center;
                            font-size: 1em;
                            letter-spacing: 1px;
                            padding: 0.2em;
                            margin: 0;

                            &:hover {
                                color: gray;
                                text-decoration: underline;
                            }

                            &:active {
                                color: red;
                            }
                        }
                    }
                }
            }
        }
    }

    .fail {
        p {
            width: 100%;
            font-size: 1.2em;
            font-weight: 400;

            border: 2px solid white;
            padding: 0.2em;
        }
    }
}