.sign-container {
    width: 85%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 3em;

    h1 {
        font-size: 3em;
        font-weight: 800;
        margin: 1em;
        letter-spacing: 5px;
    }

    .sign-account {
        width: 65%;
        margin: 2em 0 0 0;
        padding: 0;

        border-top: 5px solid lightslategray;
        border-bottom: 5px solid lightslategray;

        text-align: center;
        font-size: 1.2em;
        font-weight: 600;

        opacity: 0.8;

        p {
            padding: 0.5em 0 0.5em 0;
            margin: 0.2em 0 0.2em 0;
            background-color: lightslategray;
            color: white;
        }
    }

    .sign-operation {
        width: 65%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin: 2em;

        .sign-json {
            width: 100%;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            padding: 1em;
            font-size: 1em;
            letter-spacing: 1px;

            pre {
                width: 90%;
                border: 3px solid white;
                background-color: white;
                opacity: 0.7;
                color: black;
                padding: 2em;

                &:hover {
                    border: 3px solid red;
                    background-color: antiquewhite;
                }

                &:active {
                    border: 3px solid yellowgreen;
                    background-color: aquamarine;
                }
            }
        }

        .sign-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            margin-top: 0;
            margin-bottom: 1em;
            padding: 0;
            width: 100%;

            opacity: 0.8;

            #other {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                width: 100%;

                #head,
                #body {
                    padding: 0.2em 0.5em 0.2em 0.5em;
                    margin-top: 0;
                    margin-bottom: 0.5em;
                }

                #head {
                    margin-right: 1em;
                    width: 20%;
                    border-top: 1px solid white;
                    border-bottom: 1px solid white;
                    color: white;
                    text-align: center;
                    font-weight: 400;
                }

                #body {
                    width: 80%;
                    background-color: white;
                    color: black;
                }
            }

            #sig {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;

                #head {
                    width: 100%;
                    color: white;
                    border-top: 1px solid white;
                    border-bottom: 1px solid white;
                    text-align: center;
                    padding: 0.2em 0 0.2em 0;
                    font-weight: 400;
                    margin-bottom: 0.2em;
                }

                ul {
                    list-style-type: none;
                    padding: 0;
                    width: 100%;
                    margin: 0 1em 1em 1em;

                    li {
                        color: black;
                        background-color: white;
                        margin-top: 0.2em;
                        padding: 0.2em 0.5em 0.2em 0.5em;
                        margin-bottom: 0.2em;
                    }
                }
            }
        }

        .sign-files {
            width: 100%;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            input {
                margin: 1em;
                font-size: 1em;
                vertical-align: center;
            }

            button {
                padding: 0.5em;
            }
        }
    }

    .sign-buttons {
        width: 30%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding: 1em;

        margin-bottom: 2em;
    }
}