.sign-container {
    width: 85%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 3em;

    h1 {
        font-size: 3em;
        font-weight: 400;
        margin: 1em;
        letter-spacing: 5px;
    }

    .sign-operation {
        width: 65%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin: 2em;

        .sign-json {
            width: 100%;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            padding: 1em;
            font-size: 1em;
            letter-spacing: 1px;

            pre {
                width: 90%;
                border: 3px solid white;
                background-color: white;
                opacity: 0.7;
                color: black;
                padding: 2em;

                &:hover {
                    border: 3px solid red;
                    background-color: antiquewhite;
                }

                &:active {
                    border: 3px solid yellowgreen;
                    background-color: aquamarine;
                }
            }
        }

        .sign-view-json {
            width: 100%;
            padding: 0;
            margin: 0.5em;

            opacity: 0.7;

            p {
                padding: 0.2em;
                margin: 0;
                color: black;
                background-color: white;
                border: 3px solid white;
                text-align: center;

                font-weight: 400;
            }

            &:hover {
                p {
                    color: black;
                    background-color: lightskyblue;
                }
            }

            &:active {
                p {
                    color: red;
                    background-color: lightgoldenrodyellow;
                }
            }
        }

        .sign-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            margin-top: 0;
            margin-bottom: 1em;
            padding: 0;
            width: 100%;

            opacity: 0.8;

            #other,
            #sig {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                width: 100%;

                #head,
                #body {
                    padding: 0.2em 0.5em 0.2em 0.5em;
                    margin-top: 0;
                    margin-bottom: 0.5em;
                }

                #head {
                    margin-right: 1em;
                    width: 20%;
                    border-top: 1px solid white;
                    border-bottom: 1px solid white;
                    color: white;
                    text-align: center;
                    font-weight: 400;
                }

                #body {
                    width: 80%;
                    background-color: white;
                    color: black;
                }
            }
        }

        .sign-files {
            width: 100%;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            input {
                margin: 1em;
                font-size: 1em;
                vertical-align: center;
            }
        }
    }

    .sign-buttons {
        width: 30%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding: 1em;

        margin-bottom: 2em;
    }
}

@media screen and (max-width: 1090px) and (min-width: 750px) {
    .sign-container {
        width: 100%;
        padding: 1.5em;
        margin-top: 3em;

        h1 {
            font-size: 2em;
            font-weight: 300;
            margin: 1em;
            letter-spacing: 5px;
        }

        .sign-operation {
            width: 90%;
            margin: 1.5em;

            .sign-json {
                width: 90%;
                padding: 1em;
                font-size: 0.8em;

                pre {
                    width: 95%;
                    border: 1px solid white;
                    padding: 1.5em;

                    &:hover {
                        border: 1px solid red;
                    }

                    &:active {
                        border: 1px solid yellowgreen;
                    }
                }
            }

            .sign-view-json {
                margin: 0.5em;

                p {
                    padding: 0.2em;
                    border: 1px solid white;
                    font-weight: 300;
                }
            }

            .sign-info {
                margin-bottom: 1em;
                font-size: 0.8em;

                #other,
                #sig {

                    #head,
                    #body {
                        padding: 0.2em 0.5em 0.2em 0.5em;
                        margin-bottom: 0.5em;
                    }

                    #head {
                        margin-right: 1em;
                    }
                }
            }

            .sign-files {

                input {
                    margin: 1em;
                    font-size: 0.8em;
                    vertical-align: center;
                }
            }
        }

        .sign-buttons {
            width: 30%;

            padding: 0.7em;
            margin-bottom: 1.5em;
        }
    }
}


@media screen and (max-width: 750px) {
    .sign-container {
        width: 100%;
        padding: 1.2em;
        margin-top: 3em;

        h1 {
            font-size: 1.5em;
            font-weight: 300;
            margin: 1em;
            letter-spacing: 3px;
        }

        .sign-operation {
            width: 90%;
            margin: 1.5em;

            .sign-json {
                width: 90%;
                padding: 0.5em;
                font-size: 0.8em;

                pre {
                    width: 95%;
                    border: 1px solid white;
                    padding: 1.0em;

                    &:hover {
                        border: 1px solid red;
                    }

                    &:active {
                        border: 1px solid yellowgreen;
                    }
                }
            }

            .sign-view-json {
                margin: 0.5em;

                p {
                    padding: 0.2em;
                    border: 1px solid white;
                    font-weight: 300;
                }
            }

            .sign-info {
                margin-bottom: 1em;
                font-size: 0.7em;

                #other,
                #sig {

                    #head,
                    #body {
                        padding: 0.2em 0.5em 0.2em 0.5em;
                        margin-bottom: 0.5em;
                    }

                    #head {
                        margin-right: 1em;
                    }
                }
            }

            .sign-files {

                input {
                    margin: 1em;
                    font-size: 0.7em;
                    vertical-align: center;
                }
            }
        }

        .sign-buttons {
            width: 30%;

            padding: 0.7em;
            margin-bottom: 1.5em;
        }
    }
}