.sign-container {
    width: 85%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 3em;

    h1 {
        font-size: 3em;
        font-weight: 800;
        margin: 1em;
        letter-spacing: 5px;
    }

    .sign-account {
        width: 65%;
        margin: 2em;
        padding: 0;

        border-top: 5px solid lightslategray;
        border-bottom: 5px solid lightslategray;

        text-align: center;
        font-size: 1.2em;
        font-weight: 600;

        opacity: 0.8;

        p {
            padding: 0.5em 0 0.5em 0;
            background-color: lightslategray;
            color: white;
        }
    }

    .sign-operation {
        width: 65%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin: 2em;

        .sign-switch {
            width: 50%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
        }

        .sign-json {
            width: 100%;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            padding: 1em;
            font-size: 1em;
            letter-spacing: 1px;

            pre {
                width: 100%;
                border: 3px solid white;
                background-color: white;
                opacity: 0.7;
                color: black;
                padding: 2em;

                &:hover {
                    border: 3px solid red;
                    background-color: antiquewhite;
                }

                &:active {
                    border: 3px solid yellowgreen;
                    background-color: aquamarine;
                }
            }

            textarea {
                width: 100%;
                height: 500px;

                border: 2px solid white;
                border-radius: 2px;

                padding: 2em;

                color: darkblue;
                background-color: aliceblue;
                letter-spacing: 1px;

                opacity: 0.7;

                &:focus {
                    outline: none !important;
                    border: 2px solid lightcoral;
                    background-color: antiquewhite;
                }
            }
        }

        .sign-files {
            width: 100%;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            input {
                margin: 1em;
                font-size: 1em;
                vertical-align: center;
            }

            button {
                padding: 0.5em;
            }
        }

        a {
            width: 100%;

            font-size: 1.5em;
            font-weight: 500;
            text-align: center;

            padding: 0.2em 0 0.2em 0;

            background-color: white;
            text-decoration: underline;
            color: black;

            opacity: 0.8;

            &:hover {
                background-color: lightskyblue;
                color: white;
            }

            &:active {
                background-color: lightslategray;
            }
        }
    }

    .sign-buttons {
        width: 30%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding: 1em;

        margin-bottom: 2em;
    }

    .sign-response {
        width: 65%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 1em;
        font-size: 1em;
        letter-spacing: 1px;

        span {
            align-self: flex-start;
            font-size: 1em;
            color: red;
            margin: 0.2em;

            display: inline-block;
            text-align: start;
        }

        pre {
            width: 100%;
            border: 3px solid white;
            background-color: white;
            opacity: 0.7;
            color: black;
            padding: 2em;

            &:hover {
                border: 3px solid red;
                background-color: antiquewhite;
            }

            &:active {
                border: 3px solid yellowgreen;
                background-color: aquamarine;
            }
        }
    }
}