.wallet-container {
    width: 95%;
    height: 100%;

    padding: 3em;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-self: center;

    .wallet-ref {
        margin: 0;
        padding: 0;
    }

    .wallet-refresh {
        width: 60%;
        padding: 0;
        margin: 0;

        font-size: 1.5em;
        font-weight: 400;

        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-end;

        p {
            color: white;
            background-color: transparent;

            padding: 0.2em 0.5em 0.2em 0.5em;
            margin: 0;

            text-align: center;
            border-radius: 10%;
            border: 2px solid white;

            &:active {
                color: white;
                background-color: red;
            }

            &:hover {
                background-color: white;
                color: black;
            }
        }
    }

    .wallet-info {
        width: 60%;

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        font-weight: 500;
        padding: 0;
        margin: 0;

        #address {
            font-size: 1.3em;
            padding: 0.2em;
            margin-top: 0;
            margin-bottom: 0;
            font-weight: 300;
            letter-spacing: 3px;

            &:hover {
                text-decoration: underline;
                color: lightgray;
            }

            &:active {
                color: cyan;
            }
        }

        .wallet-amount {

            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            margin: 1em 0 0 0;
            padding: 0;

            ul {
                width: 100%;
                height: 150px;
                overflow-y: auto;
                overflow-x: hidden;

                margin: 0;
                padding: 0;
                border: 1px solid white;

                li {
                    width: 100%;
                    margin: 0;
                    padding: 0;

                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    font-weight: 300;
                    font-size: 1em;

                    opacity: 0.8;

                    .currency,
                    .amount {
                        display: inline-block;
                        letter-spacing: 2px;

                        overflow: visible;
                        white-space: pre-wrap;
                        word-break: break-all;
                        
                        margin: 1px;
                        padding: 0.2em 0.5em 0.2em 0.5em;

                        color: black;
                    }

                    .currency {
                        width: 35%;
                        text-align: center;
                        background-color: white;
                    }

                    .amount {
                        width: 70%;
                        text-align: end;
                        background-color: beige;
                    }

                }
            }
        }
    }

    .wallet-operation {
        width: 60%;
        margin-top: 0.5em;
        margin-bottom: 1em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .wallet-history {
        margin: 0;
        padding: 0;

        width: 60%;

        display: flex;
        flex-direction: column;
        align-items: center;

        ul {
            width: 100%;
            height: 200px;
            overflow-y: auto;
            overflow-x: hidden;

            margin: 0;
            padding: 1px;
            border: 1px solid white;

            li {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                width: 100%;

                font-size: 0.7em;
                font-weight: 400;

                background-color: white;
                margin: 1px;
                padding: 0;

                opacity: 0.8;

                &:hover {
                    background-color: lightgray;
                }

                &:active {
                    background-color: cyan;
                }

                p {
                    padding: 0.5em;
                    margin: 0;
                }

                #SUCCESS,
                #FAIL,
                #SEND,
                #RECEIVE,
                #confirmed-at,
                #currency {
                    text-align: center;
                }

                #target {
                    text-align: start;
                }
                #amount {
                    text-align: end;
                }

                #SUCCESS,
                #FAIL {
                    width: 7%;
                }

                #SUCCESS {
                    color: blue;
                }

                #FAIL {
                    color: red;
                }

                #SEND,
                #RECEIVE {
                    width: 7%;
                }

                #SEND {
                    color: green;
                }

                #RECEIVE {
                    color: purple;
                }

                #confirmed-at {
                    width: 21%;
                }

                #target {
                    width: 42%;
                }

                #currency {
                    width: 7%;
                }

                #amount {
                    width: 16%;
                }

                #confirmed-at,
                #target,
                #currency,
                #amount {
                    color: black;
                }
            }
        }

        #pend {
            width: 100%;
            text-align: end;

            text-decoration: underline;

            &:hover {
                color: blue;
            }

            &:active {
                color: cyan;
            }
        }
    }
}