.box {
    display: flex;
    justify-content: center;
    align-items: center;

    .input-box {
        height: 100%;
        width: 100%;

        border: 2px solid lightblue;
        border-radius: 2px;
        padding: 0.2em;
        color: darkslategray;
        background-color: aliceblue;
        letter-spacing: 1px;

        opacity: 0.6;

        font-weight: 400;
        

        &:focus {
            outline: none !important;
            border: 2px solid lightcoral;
            background-color: beige;
            opacity: 1.0;
        }
    }

    button {
        padding: 0.7em;
    }
}

.big {
    width: 60%;
    height: 50px;
    margin: 1em;

    .input-box{
        font-size: 1.4em;
    }
}

.medium {
    width: 75%;
    height: 25px;

    .input-box{
        font-size: 1.0em;
    }
}

.small {
    width: 25%;
    height: 25px;

    .input-box{
        font-size: 1.0em;
    }
}