.box {
    display: flex;
    justify-content: center;
    align-items: center;

    .input-box {
        height: 100%;
        width: 100%;

        border: 2px solid lightblue;
        border-radius: 2px;
        padding: 0.2em;
        color: darkslategray;
        background-color: aliceblue;
        letter-spacing: 1px;

        opacity: 0.6;
        font-weight: 400;

        &:focus {
            outline: none !important;
            border: 2px solid lightcoral;
            background-color: beige;
            opacity: 1.0;
        }
    }

    button {
        padding: 0.7em;
    }
}

.big {
    width: 75%;
    height: 40px;
    margin: 1em;

    .input-box {
        font-size: 1.3em;
    }
}

.medium {
    width: 75%;
    height: 25px;

    .input-box {
        font-size: 1.0em;
    }
}

.small {
    width: 25%;
    height: 25px;

    .input-box {
        font-size: 1.0em;
    }
}

@media screen and (max-width: 1090px) and (min-width: 750px) {
    .box {

        .input-box {

            border: 1px solid lightblue;
            padding: 0.1em;
            letter-spacing: 1px;

            &:focus {
                border: 1px solid lightcoral;
            }
        }
    }

    .big {
        width: 85%;
        height: 30px;
        margin: 0.5em;

        .input-box {
            font-size: 1em;
        }
    }

    .medium {
        height: 18px;

        .input-box {
            font-size: 0.7em;
        }
    }

    .small {
        height: 18px;

        .input-box {
            font-size: 0.7em;
        }
    }
}

@media screen and (max-width: 750px) {
    .box {

        .input-box {

            border: 1px solid lightblue;
            padding: 0.1em;
            letter-spacing: 1px;

            &:focus {
                border: 1px solid lightcoral;
            }
        }
    }

    .big {
        width: 85%;
        height: 25px;
        margin: 0.4em;

        .input-box {
            font-size: 0.8em;
        }
    }

    .medium {
        height: 15px;

        .input-box {
            font-size: 0.5em;
        }
    }

    .small {
        height: 15px;

        .input-box {
            font-size: 0.5em;
        }
    }
}