.box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    height: 50px;

    .input-box {
        height: 100%;
        width: 100%;

        border: 2px solid lightblue;
        border-radius: 2px;
        padding: 0.2em;
        font-size: 1em;
        font-weight: 800;
        color: darkslategray;
        background-color: aliceblue;
        letter-spacing: 1px;

        opacity: 0.6;

        &:focus {
            outline: none !important;
            border: 2px solid lightcoral;
            background-color: beige;
            opacity: 1.0;
        }
    }
}

.big {
    width: 60%;
    font-size: 1.2em;
    font-weight: 500;
}

.medium {
    width: 70%;
    font-size: 1.0em;
    font-weight: 500;
}

.small {
    width: 15%;
    font-size: 1.0em;
    font-weight: 500;
}