.nav {
    display: flex;

    flex-direction: column;
    // align-items: flex-end;
    align-items: flex-start;
    justify-content: center;

    width: 250px;
    z-index: 1;
    position: fixed;
    top: 50px;
    left: 20px;

    .nav-title {
        border: 2px solid white;
        border-radius: 20px;
        display: inline-block;
        text-align: center;
    }

    .nav-title p {
        font-size: 1.4em;
    }

    .nav-title,
    .nav-login,
    .nav-sign,
    .main {

        &:before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            height: 6px;
            bottom: 5px;
            transition: all 0.2s ease-out;
        }

        &:hover:before {
            transform: translateY(10px)
        }

        &:active {
            p {
                color: cyan;
            }
        }

        p {
            text-align: start;

            background: linear-gradient(to bottom, lightgray 100%, lightgray 60%, #fff 60%, #fff 100%);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            background-repeat: no-repeat;
            transition: background 0.2s ease-out;
            white-space: nowrap;

            &:hover {
                background-position: 0 0;
            }
        }
    }

    .on {
        &:before {
            background: gray;
        }

        margin-bottom: 0;
    }

    .off {
        &:before {
            background: white;
        }
    }

    .nav-sign {
        &:before {
            background: gray;
        }
    }

    #nav-addr {
        margin: 0.2em 0 0.5em 0.5em;
        font-size: 1em;
        text-decoration: underline;

        &:hover {
            color: lightblue;
        }

        &:active {
            color: red;
        }
    }

    .main {
        &:before {
            background: white;
        }
    }

    .setting,
    .main,
    .nav-title,
    .nav-sign,
    .nav-login {
        position: relative;
        margin: 0.5em;
        width: 100%;

        p {
            text-decoration: none;
            margin: 0.5em;

            cursor: pointer;
            position: relative;
            display: inline-block;
        }
    }

    .setting,
    .main,
    .nav-sign,
    .nav-login {
        p {
            font-size: 1.2em;
        }
    }

    .setting {
        background-color: white;
        text-align: center;

        &:hover {
            background-color: skyblue;

            p {
                color: white;
            }
        }

        &:active {
            background-color: hotpink;
        }

        p {
            color: black;
            font-weight: 400;
        }
    }
}

@media screen and (min-width: 1090px) {
    .nav {
        display: flex;
    }
    // .nav a {
    //     left: initial;
    //     top: initial;
    //     bottom: 0px;
    //     width: initial;
    // }
}

@media screen and (max-width: 1090px) {
    .nav {
        display: none;
    }
}