.nav {
    display: flex;

    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    width: 320px;
    z-index: 1;
    position: fixed;
    top: 50px;
    left: 20px;

    .side {
        align-self: flex-start;

        &:before {
            background: darkslateblue;
        }
    }

    .nav-title p {
        font-size: 1.5em;
    }

    .main {
        &:before {
            background: darkolivegreen;
        }
    }

    a {
        position: relative;
        margin: 1em;

        &:before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            height: 10px;
            bottom: 5px;
            transition: all 0.2s ease-out;
        }

        &:hover:before {
            transform: translateY(10px)
        }

        &:active {
            p {
                color: darkred;
            }
        }

        p {
            text-decoration: none;
            margin: 0.5em;

            cursor: pointer;
            position: relative;
            display: inline-block;
            font-size: 1.2em;
            background: linear-gradient(to bottom, lightgray 100%, lightgray 60%, #fff 60%, #fff 100%);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            background-repeat: no-repeat;
            transition: background 0.2s ease-out;
            white-space: nowrap;

            &:hover {
                background-position: 0 0;
            }
        }
    }
}

@media screen and (max-width: 1090px) {
    .nav a {
        left: initial;
        top: initial;
        bottom: 0px;
        width: initial;
    }
}