.json-container {
    margin: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;

    pre {
        border: 5px solid grey;
        padding: 2em;

        &:hover {
            border: 5px solid red;
            background-color: antiquewhite;
        }

        &:active {
            border: 5px solid yellowgreen;
            background-color: aquamarine;
        }
    }

    .json-confirm {
        margin: 2em;
    }
}