.tf-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 3em;

    opacity: 0.8;

    h1 {
        font-size: 3em;
        font-weight: 800;
        margin: 1em;
        letter-spacing: 5px;
    }

    .tf-balance-wrap {
        width: 60%;
        margin: 1em 0 2em 0;
        padding: 0;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;

        letter-spacing: 1px;

        p {
            width: 100%;
            text-align: center;
            font-weight: 500;
            border-top: 1px solid white;
            border-bottom: 1px solid white;
            margin: 0 0 0.2em 0;
            padding: 0.2em 0 0.2em 0;
            color: white;
        }

        ul {
            width: 100%;
            list-style-type: none;
            font-size: 1em;
            margin: 0;
            padding: 0;

            li {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;

                padding: 0.2em 0 0.2em 0;

                .currency,
                .amount {
                    overflow: visible;
                    white-space: pre-wrap;
                    word-break: break-all;

                    padding: 0.2em;
                    margin-top: 0.2em;
                    margin-bottom: 0.2em;
                    margin-left: 0;
                }

                .currency {
                    width: 20%;
                    margin-right: 0.5em;

                    color: white;
                    background-color: transparent;
                    border-top: 1px solid white;
                    border-bottom: 1px solid white;
                    
                    font-weight: 500;
                }

                .amount {
                    width: 80%;
                    margin-right: 0;

                    background-color: beige;
                    color: black;

                    border-top: 1px solid beige;
                    border-bottom: 1px solid beige;

                    font-weight: 400;
                }
            }
        }
    }

    .tf-input-wrap {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin: 1em 0 2em 0;
        padding: 1em 0 1em 0;

        p {
            text-align: center;
            padding: 1em;
            color: white;
            font-weight: 500;
            width: 100%;
            margin: 0;
        }

        #address {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;

            margin: 1em 0 1em 0;

            p {
                margin-top: 0;
                margin-left: 0;
                margin-right: 0;
                padding: 0.2em;

                text-align: center;
            }

            #head {
                width: 30%;
                margin-right: 0.5em;
                border-top: 1px solid white;
                border-bottom: 1px solid white;
                background-color: white;
                color: black;
            }

            #body {
                width: 70%;
                margin-right: 0;
                background-color: transparent;
                border-top: 1px solid white;
                border-bottom: 1px solid white;
                color: white;
            }
        }

        .tf-amounts {
            margin: 3em 0 0 0;
            padding: 0;

            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            #exp {
                text-align: start;
                padding: 1em;
                color: white;
                font-weight: 300;
                width: 100%;
                margin: 0;
            }

            #head {
                width: 100%;
                text-align: center;
                font-weight: 500;
                background-color: white;
                border-top: 1px solid white;
                border-bottom: 1px solid white;
                margin: 0 0 0.2em 0;
                padding: 0.2em 0 0.2em 0;
                color: black;
            }

            #label {
                margin: 0;
                padding: 0;

                display: flex;
                flex-direction: row;
                align-items: center;

                width: 100%;

                p {
                    margin-top: 0;
                    margin-bottom: 0;
                    margin-left: 0;
                    padding: 0.2em;

                    font-weight: 500;
                    text-align: center;

                    color: black;
                    background-color: white;
                }

                .currency {
                    width: 20%;
                    margin-right: 0.5em;
                }

                .amount {
                    width: 80%;
                    margin-right: 0;
                }
            }

            ul {
                width: 100%;
                list-style-type: none;
                padding: 0;
                margin: 0;

                li {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    padding: 0;
                    margin: 0;
                    font-weight: 300;
                    letter-spacing: 1px;

                    .currency,
                    .amount {
                        text-align: start;
                        display: inline-block;
                        text-align: start;

                        padding: 0.2em;
                        margin-left: 0;
                        margin-top: 0.2em;
                        margin-bottom: 0;

                        overflow: visible;
                        white-space: pre-wrap;
                        word-break: break-all;

                        background-color: beige;
                        border-top: 1px solid beige;
                        border-bottom: 1px solid beige;

                        text-align: center;

                        color: black;
                    }

                    .currency {
                        width: 20%;
                        margin-right: 0.5em;
                    }

                    .amount {
                        width: 80%;
                    }
                }
            }
        }

        .tf-adder {
            width: 100%;
            margin: 5em 0 0 0;
            padding: 0;

            border-top: 5px solid white;
            border-bottom: 5px solid white;

            .tf-address-adder {
                width: 100%;

                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;

                margin: 3em 0 3em 0;

                p {
                    font-size: 1em;
                    font-weight: 500;

                    text-align: center;

                    margin: 0;
                    padding: 0.2em;

                    width: fit-content;

                    vertical-align: middle;
                }

                div {
                    margin: 0;
                    text-align: start;
                }
            }

            .tf-amount-adder {
                width: 100%;
                margin: 1em 0 3em 0;

                display: flex;
                flex-direction: column;
                align-items: center;

                p {
                    font-size: 1em;
                    font-weight: 500;

                    text-align: center;

                    margin: 0.5em 0 0.5em 0;
                    padding: 0.2em;

                    width: 100%;
                    align-self: start;

                    color: black;
                    background-color: white;
                }

                #adder {
                    width: 100%;
                    padding: 0;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;

                    div {
                        margin-right: 1em;
                    }

                    button {
                        padding: 0.5em;
                        margin: 0;
                    }
                }
            }
        }

    }
}