.uk-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 3em;

    h1 {
        font-size: 3em;
        font-weight: 800;
        margin: 1em;
        letter-spacing: 5px;
    }

    .uk-address-wrap,
    .uk-amount-wrap {
        width: 60%;
        margin: 1em;
        padding: 0;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;

        border-top: 7px solid lightslategray;
        border-bottom: 7px solid lightslategray;

        h2 {
            width: 100%;
            padding: 0.2em 0 0.2em 0;
            margin: 1em;
            font-size: 1.2em;
            color: white;
            background-color: lightslategray;

            opacity: 0.8;
        }

        ul {
            width: 100%;
            list-style-type: none;
            padding: 0;
            font-size: 1.2em;
            margin: 1em 0 1em 0;

            li {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;

                padding: 0.2em 0 0.2em 0;

                text-decoration: none;
                background-image: linear-gradient(to right, lightslategray, lightslategray 100%);
                background-size: 0 100%;
                background-repeat: no-repeat;
                transition: background .5s;
                line-height: 0.7;
                background-position: 0;
                color: white;

                opacity: 0.8;

                .key,
                .currency,
                .weight,
                .amount {
                    display: inline-block;
                    text-align: start;
                    padding-left: 0.2em;
                    padding-right: 0.2em;

                    font-weight: 600;
                }

                .key,
                .currency {
                    width: 70%;
                }

                .weight,
                .amount {
                    width: 30%;
                }

                &:hover {
                    background-size: 100% 100%;
                    color: white;
                }
            }
        }
    }

    .uk-input-wrap {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin: 1em;
        padding: 1em;

        .uk-keys {
            margin: 1em 2em 1em 2em;
            padding: 1em;

            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            h2 {
                font-size: 2em;
                text-decoration: underline;
            }


            ul {
                width: 100%;
                list-style-type: none;
                padding: 0.5em;
                font-size: 1.2em;
                margin: 1em 0 1em 0;

                border: 3px solid white;

                li {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    padding: 0.2em 0 0.2em 0;
                    margin: 0.5em 0 0.5em 0;
                    font-weight: 600;

                    text-decoration: none;
                    background-image: linear-gradient(to right, lightslategray, lightslategray 100%);
                    background-size: 0 100%;
                    background-repeat: no-repeat;
                    transition: background .5s;
                    line-height: 0.7;
                    background-position: 0;
                    color: white;
                    font-weight: 600;
                    letter-spacing: 1px;

                    opacity: 0.8;

                    .key,
                    .weight {
                        display: inline-block;
                        text-align: start;
                    }

                    .key {
                        width: 70%;
                    }

                    .weight {
                        width: 30%;
                    }

                    &:hover {
                        background-size: 100% 100%;
                        color: white;
                    }
                }
            }

            .uk-key-adder {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }

            .uk-keys-extra-input {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
            }
        }
    }
}