.amount-adder-container {
    width: 100%;
    margin: 0;

    .amount-adder {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        button {
            padding: 0.5em;
        }

        div {
            input {
                margin-right: 0.2em;
            }
        }
    }
}

@media screen and (max-width: 1090px) and (min-width: 750px) {
    .amount-adder-container {
        .amount-adder {
            button {
                margin: 0.1em;
            }
    
            div {
                input {
                    margin-right: 0.1em;
                }
            }
        }
    }
}

@media screen and (max-width: 1090px) and (min-width: 750px) {
    .amount-adder-container {
        .amount-adder {
            button {
                margin: 0.1em;
            }
    
            div {
                input {
                    margin-right: 0.1em;
                }
            }
        }
    }
}