.key-adder-container {
    width: 100%;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

    .key-adder {
        width: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        button {
            padding: 0.5em;
        }

        div {
            input {
                margin-right: 0.2em;
            }
        }
    }

    .thres-adder {
        width: 100%;
        height: fit-content;
        padding: 0;
        margin-top: 0.2em;
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        p {
            font-size: 1em;
            font-weight: 500;

            text-align: center;

            margin: 0;
            padding: 0.2em;

            width: fit-content;

            vertical-align: middle;
        }

        div {
            margin: 0;
            text-align: start;
        }
    }
}