.ca-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 3em;

    opacity: 0.8;

    h1 {
        font-size: 3em;
        font-weight: 800;
        margin: 1em;
        letter-spacing: 5px;
    }

    .ca-balance-wrap {
        width: 60%;
        margin: 1em 0 2em 0;
        padding: 0;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;

        letter-spacing: 1px;

        #head {
            width: 100%;
            text-align: start;
            font-size: 1.3em;
            text-decoration: underline;
            font-weight: 500;
            margin: 0 0 0.2em 0;
            padding: 0.2em 0 0.2em 0;
            color: white;
        }

        ul {
            width: 100%;
            list-style-type: none;
            font-size: 1em;
            margin: 0;
            padding: 0;

            li {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;

                padding: 1px 0 1px 0;

                .currency,
                .amount {
                    overflow: visible;
                    white-space: pre-wrap;
                    word-break: break-all;

                    padding: 0.2em;
                    margin-top: 1px;
                    margin-bottom: 0;
                    margin-left: 0;
                    font-weight: 400;
                }

                .currency {
                    width: 20%;
                    margin-right: 1px;

                    color: black;
                    background-color: white;
                    border-top: 1px solid white;
                    border-bottom: 1px solid white;
                }

                .amount {
                    width: 80%;
                    margin-right: 0;

                    background-color: beige;
                    color: black;

                    border-top: 1px solid beige;
                    border-bottom: 1px solid beige;
                }
            }
        }
    }

    .ca-input-wrap {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin: 1em 0 2em 0;
        padding: 0;

        .ca-keys {
            margin: 3em 0 0 0;
            padding: 0;

            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            #head {
                width: 100%;
                text-align: start;
                text-decoration: underline;
                font-size: 1.3em;
                font-weight: 500;
                background-color: transparent;

                margin: 0 0 0.2em 0;
                padding: 0.2em 0 0.2em 0;

                color: white;
            }

            #label {
                margin: 0;
                padding: 0;

                display: flex;
                flex-direction: row;
                align-items: center;

                width: 100%;

                p {
                    margin: 0;
                    padding-top: 0.2em;
                    padding-bottom: 0.2em;
                    padding-left: 0;

                    font-weight: 500;
                    text-align: center;
                    color: black;
                    background-color: white;
                }

                .key {
                    width: 70%;
                    border-right: 1px solid lightgray;
                    padding-right: 0;
                }

                .weight {
                    width: 30%;
                    padding-right: 1.2em;
                }
            }

            ul {
                width: 100%;
                height: 200px;
                overflow-y: scroll;

                list-style-type: none;
                padding: 0;
                margin: 0;

                display: flex;
                flex-direction: column;
                align-items: flex-start;

                background-color: beige;

                li {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    padding: 0;
                    margin: 0;
                    font-weight: 300;
                    letter-spacing: 1px;

                    .key,
                    .weight {
                        text-align: start;
                        display: inline-block;

                        padding: 0.2em;
                        margin-left: 0;
                        margin-top: 1px;
                        margin-bottom: 0;
                        margin-right: 0;

                        overflow: visible;
                        white-space: pre-wrap;
                        word-break: break-all;

                        border-bottom: 1px solid lightgray;

                        color: black;
                    }

                    .key {
                        width: 70%;
                        text-align: start;
                        border-right: 1px solid lightgray;
                    }

                    .weight {
                        width: 30%;
                        align-self: stretch;
                        text-align: center;
                        vertical-align: middle;
                    }
                }
            }

            section {
                width: 100%;
                margin: 0 0 3em 0;

                .ca-key-adder {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;

                    button {
                        padding: 0.5em;
                    }

                    div {
                        input {
                            margin-right: 0.2em;
                        }
                    }
                }

                .ca-thres-adder {
                    width: 100%;
                    height: fit-content;
                    padding: 1em 1em 1em 0;
                    margin-left: 0;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: flex-start;

                    p {
                        font-size: 1em;
                        font-weight: 500;

                        text-align: center;

                        margin: 0 0.5em 0 0;
                        padding: 0.2em;

                        width: fit-content;

                        vertical-align: middle;
                    }

                    div {
                        margin: 0;
                        text-align: start;
                    }
                }
            }
        }

        .ca-amounts {
            margin: 3em 0 0 0;
            padding: 0;

            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            #head {
                width: 100%;
                text-align: start;
                text-decoration: underline;
                font-size: 1.3em;
                font-weight: 500;
                background-color: transparent;
                margin: 0 0 0.2em 0;
                padding: 0.2em 0 0.2em 0;
                color: white;
            }

            #label {
                margin: 0;
                padding: 0;

                display: flex;
                flex-direction: row;
                align-items: center;

                width: 100%;

                p {
                    margin: 0;
                    padding-top: 0.2em;
                    padding-bottom: 0.2em;
                    padding-left: 0.2em;
                    font-weight: 500;
                    text-align: center;

                    color: black;
                    background-color: white;
                }

                .currency {
                    width: 25%;
                    padding-right: 0.2em;
                    border-right: 1px solid lightgray;
                }

                .amount {
                    width: 75%;
                    padding-right: 1.2em;
                }
            }

            ul {
                width: 100%;
                height: 200px;
                overflow-y: scroll;

                list-style-type: none;
                padding: 0;
                margin: 0;

                display: flex;
                flex-direction: column;
                align-items: flex-start;

                background-color: beige;

                li {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    padding: 0;
                    margin: 0;
                    font-weight: 300;
                    letter-spacing: 1px;

                    .currency,
                    .amount {
                        text-align: start;
                        display: inline-block;
                        text-align: center;

                        padding: 0.2em;
                        margin-left: 0;
                        margin-top: 1px;
                        margin-bottom: 0;
                        margin-right: 0;

                        overflow: visible;
                        white-space: pre-wrap;
                        word-break: break-all;

                        border-bottom: 1px solid lightgray;

                        color: black;
                    }

                    .currency {
                        width: 25%;
                        border-right: 1px solid lightgray;
                    }

                    .amount {
                        width: 75%;
                        align-self: stretch;
                        vertical-align: middle;
                    }
                }
            }

            section {
                width: 100%;
                margin: 0;

                .ca-amount-adder {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;

                    button {
                        padding: 0.5em;
                    }

                    div {
                        input {
                            margin-right: 0.2em;
                        }
                    }
                }
            }
        }
    }
}