.ca-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 3em;
    margin: 0;
    opacity: 0.8;

    h1 {
        font-size: 3em;
        font-weight: 400;
        margin: 1em;
        letter-spacing: 5px;
    }

    .ca-balance-wrap {
        width: 60%;
        margin: 1em 0 2em 0;
        padding: 0;
    }

    .ca-input-wrap {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin: 1em 0 2em 0;
        padding: 0;

        .ca-keys {
            margin: 3em 0 0 0;
            padding: 0;

            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

        }

        .ca-amounts {
            margin: 3em 0 0 0;
            padding: 0;

            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}

@media screen and (max-width: 1090px) and (min-width: 750px) {
    .ca-container {
        padding: 2em;

        h1 {
            font-size: 2em;
            margin: 0.5em;
            letter-spacing: 3px;
        }

        .ca-balance-wrap {
            width: 100%;
            margin: 0.5em 0 1em 0;
        }

        .ca-input-wrap {
            width: 100%;
            margin: 0.5em 0 1em 0;

            .ca-keys {
                margin: 2em 0 0 0;
            }

            .ca-amounts {
                margin: 2em 0 0 0;
            }
        }
    }
}

@media screen and (max-width: 750px) {
    .ca-container {
        padding: 2em 1em 1em 1em;

        h1 {
            font-size: 1.5em;
            margin: 0.3em;
            letter-spacing: 1px;
        }

        .ca-balance-wrap {
            width: 100%;
            margin: 0.3em 0 0.5em 0;
        }

        .ca-input-wrap {
            width: 100%;
            margin: 0.3em 0 0.5em 0;

            .ca-keys {
                margin: 0.5em 0 0 0;
            }

            .ca-amounts {
                margin: 1em 0 0 0;
            }
        }
    }
}