.tf-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 3em;

    opacity: 0.8;

    h1 {
        font-size: 3em;
        font-weight: 800;
        margin: 1em;
        letter-spacing: 5px;
    }

    .tf-balance-wrap {
        width: 60%;
        margin: 1em 0 2em 0;
        padding: 0;
    }

    .tf-input-wrap {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin: 1em 0 2em 0;
        padding: 1em 0 1em 0;

        .tf-amounts {
            margin: 3em 0 0 0;
            padding: 0;

            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .tf-address-adder {
                width: 100%;
                height: fit-content;
                padding: 1em 1em 1em 0;
                margin-left: 0;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;

                p {
                    font-size: 1em;
                    font-weight: 500;

                    text-align: center;

                    margin: 0 0.5em 0 0;
                    padding: 0.2em;

                    width: fit-content;

                    vertical-align: middle;
                }

                div {
                    margin: 0;
                    text-align: start;
                }
            }
        }
    }
}